body {
  background-image: url(plaid.png);
  color: white;
  font-family: Arial;
  text-align: center;
}
ul, ol {
  width: 40vw;
  margin: 0 auto;
}
.main {
  background-color: black;
  width: 50%;
  margin: auto;
  height: 100%;
}
